<ion-view title="Info">
  <ion-nav-buttons side="left">
    <a class="button button-clear" href="#/login">
      <i class="button-icon icon ion-ios7-arrow-back"></i> Inloggning
    </a>
  </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
    <p>Observera att appen ej är utgiven av <a href="http://www.vasttrafik.se" target="_blank">Västtrafik</a>, och ej har några officiella band till dem.</p>
    <p>Eftersom appen är släppt som öppen <a href="https://github.com/krawaller/kontoladdning/" target="_blank">källkod på GitHub</a>, tas <a href="https://github.com/krawaller/kontoladdning/issues" target="_blank">eventuell feedback med fördel emot där</a>, men du kan även <a href="mailto:jacob@krawaller.se?subject=Kontoladdning-respons">kontakta utvecklaren direkt</a>.</p>
  </ion-content>
</ion-view>
