<?xml version='1.0' encoding='utf-8'?>
<widget id="se.krawaller.Kontoladdning" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kontoladdning</name>
    <description>
        Visa dina Västtrafik-kort.
    </description>
    <author email="jacob@krawaller.se" href="http://www.krawaller.se/">
      Jacob Waller
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
